.App {
  text-align: center;
  padding: 20px;
}

.note {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  text-align: left;
}

textarea, input {
  width: 100%;
  margin: 10px 0;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #218838;
}
